.cards {
}

.cards__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -2rem 3rem -2rem;

  @include r(1279) {
    margin-bottom: 1rem;
  }
  @include r(767) {
    margin-bottom: 1rem;
  }
}

.cards__item {
  padding: 0 2rem;
  margin-bottom: 3rem;

  @include r(1279) {
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }

  @include r(767) {
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }
}

.cards__navigation {
  display: flex;
  justify-content: center;

  @include r(767) {
    margin: 0 -5rem;
  }
}

.cards__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  margin: 0 1rem;
  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 50%;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;

  svg {
    fill: color-dark-3xl;
  }
  &:hover,
  &--active  {
    background-color: $color-primary;
  }

  &:hover {
    cursor: pointer;
  }
  
  &:disabled {
    color: $color-dark-s;
    border-color: $color-dark-s;
    
    svg {
      fill: $color-dark-s;
    }

    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }

  @include r(767) {
    margin: 0 0.5rem;
  }
}
