.main-menu__list {
  @include list-reset;
  display: flex;
  @include r(767) {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 29;
    background-color: green;
    transform: translateY(-100%);

  }
}

.main-menu__item {
  margin-left: 3.5rem;
}

.main-menu__link {
  border-bottom: .3rem solid transparent;
  padding: 0 0 .3rem 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: -0.008em;
  color: $color-dark-l;
  text-decoration: none;

  @include r(1279) {
    letter-spacing: 0.01em;
  }

  &:hover {
    color: $color-dark-3xl;
  }

  &--active {
    border-bottom: 3px solid $color-primary;
    color: $color-dark-l  ;
    &:hover {
      cursor: default;
    }
  }
}

.main-menu__btn {
  display: none;
  width: 30px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  font-size: 0;
  line-height: 0;
  @include r(767) {
    display: block;
  }
  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-dark;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before,
  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: $color-dark;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
  }
  &:after {
    bottom: 0;
    top: auto;
  }
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}
@include r(767) {
  .main-menu--open {
    .main-menu__list {
      transform: translateY(0%);
    }
  }

}