.pets {
  padding: 20rem 0 10rem 0;
  background-color: $color-light-l;

  @include r(1279) {
    padding-bottom: 7rem;
  }

  @include r(767) {
    padding: 16.2rem 0 4.2rem 0;
  }
}



.pets__wrapper {
  @include wrapper;
}
.pets__title {
  @include heading-h3;
  margin-bottom: 6rem;
  color: $color-dark-l;
  text-align: center;

  @include r(1279) {
    margin-bottom: 3rem;
  }

  @include r(767) {
    margin-bottom: 4rem;
  }
}
.pets__cards {
}
