.pets {
  padding: 6.25% 0 7.8125% 0;
  background-color: $color-light-l;

  @include r(1279) {
    padding: 10.4166667% 0 9.89583333% 0;
  }

  @include r(767) {
    padding: 13.12500% 0;
  }
}



.pets__wrapper {
  @include wrapper;
}
.pets__title {
  @include heading-h3;
  margin-bottom: 4.5rem;
  color: $color-dark-l;
  text-align: center;
}
.pets__cards {
}
