* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.out {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 1.5rem 4.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  color: #4C4C4C;
  background-color: #F1CDB3;
  border-radius: 10rem;
  border: none;
}
.btn--secondary {
  background-color: transparent;
  border: 0.2rem solid #F1CDB3;
}
.btn--secondary:hover {
  border-color: #FDDCC4;
}
.btn:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.page-header {
  z-index: 2;
}
@media only screen and (max-width: 1279px) {
  .page-header {
    top: 0;
  }
}

.page-header__wrapper {
  max-width: 1200px;
  width: 93.75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
@media only screen and (max-width: 1279px) {
  .page-header__wrapper {
    width: 92.1875%;
  }
}
@media only screen and (max-width: 767px) {
  .page-header__wrapper {
    width: 93.75%;
  }
}
@media only screen and (max-width: 767px) {
  .page-header__wrapper {
    padding-right: 13.4375%;
  }
}

.logo__title {
  margin-bottom: 1rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo__sub-title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #292929;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .main-menu__list {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 29;
    background-color: green;
    transform: translateY(-100%);
  }
}

.main-menu__item {
  margin-left: 3.8rem;
}

.main-menu__link {
  border-bottom: 0.3rem solid transparent;
  padding: 0 0 0.3rem 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #545454;
  text-decoration: none;
}
.main-menu__link:hover {
  color: #292929;
}
.main-menu__link--active {
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
}
.main-menu__link--active:hover {
  cursor: default;
}

.main-menu__btn {
  display: none;
  width: 30px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  font-size: 0;
  line-height: 0;
}
@media only screen and (max-width: 767px) {
  .main-menu__btn {
    display: block;
  }
}
.main-menu__btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-menu__btn:before, .main-menu__btn:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}
.main-menu__btn:after {
  bottom: 0;
  top: auto;
}
.main-menu__btn:active, .main-menu__btn:focus {
  outline: none;
  border: none;
}

@media only screen and (max-width: 767px) {
  .main-menu--open .main-menu__list {
    transform: translateY(0%);
  }
}
.pets {
  padding: 6.25% 0 7.8125% 0;
  background-color: #F6F6F6;
}
@media only screen and (max-width: 1279px) {
  .pets {
    padding: 10.4166667% 0 9.89583333% 0;
  }
}
@media only screen and (max-width: 767px) {
  .pets {
    padding: 13.125% 0;
  }
}

.pets__wrapper {
  max-width: 1200px;
  width: 93.75%;
  margin: 0 auto;
}
@media only screen and (max-width: 1279px) {
  .pets__wrapper {
    width: 92.1875%;
  }
}
@media only screen and (max-width: 767px) {
  .pets__wrapper {
    width: 93.75%;
  }
}

.pets__title {
  padding: 0;
  margin: 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.05em;
  margin-bottom: 4.5rem;
  color: #545454;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .pets__title {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -2rem 2rem -2rem;
}
@media only screen and (max-width: 1279px) {
  .cards__list {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .cards__list {
    margin-bottom: 1.2rem;
  }
}

.cards__item {
  padding: 0 2rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1279px) {
  .cards__item:nth-child(7), .cards__item:nth-child(8) {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .cards__item:nth-child(4), .cards__item:nth-child(5), .cards__item:nth-child(6) {
    display: none;
  }
}

.cards__navigation {
  display: flex;
  justify-content: center;
}

.cards__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  margin: 0 1rem;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #292929;
}
.cards__btn svg {
  fill: color-dark-3xl;
}
.cards__btn:hover, .cards__btn--active {
  background-color: #F1CDB3;
}
.cards__btn:hover {
  cursor: pointer;
}
.cards__btn:disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
}
.cards__btn:disabled svg {
  fill: #CDCDCD;
}
.cards__btn:disabled:hover {
  background-color: transparent;
  cursor: default;
}
@media only screen and (max-width: 767px) {
  .cards__btn {
    margin: 0 0.5rem;
  }
}

.card {
  width: 270px;
  background-color: #FAFAFA;
}
.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
  cursor: pointer;
}

.card__image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__description {
  padding: 3rem 0;
  text-align: center;
}

.card__title {
  margin-bottom: 3rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.page-footer {
  background: url("../../../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 4rem;
}

.page-footer__wrapper {
  max-width: 1200px;
  width: 93.75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1279px) {
  .page-footer__wrapper {
    width: 92.1875%;
  }
}
@media only screen and (max-width: 767px) {
  .page-footer__wrapper {
    width: 93.75%;
  }
}
@media only screen and (max-width: 1279px) {
  .page-footer__wrapper {
    flex-direction: column;
  }
}

.page-footer__content {
  display: flex;
  justify-content: space-between;
  width: 61.6666667%;
}
@media only screen and (max-width: 1279px) {
  .page-footer__content {
    padding: 0 4.80225989%;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .page-footer__content {
    flex-direction: column;
  }
}

.page-footer__part {
  display: flex;
  flex-direction: column;
  padding-top: 1.33333333%;
}

.page-footer__part--contacts {
  width: 37.7%;
}
.page-footer__part--contacts .page-footer__link {
  margin-bottom: 4.4rem;
}
@media only screen and (max-width: 1279px) {
  .page-footer__part--contacts {
    width: 100%;
    margin-right: 8.47457627%;
  }
}

.page-footer__part--loacation {
  width: 40.8108108%;
}
.page-footer__part--loacation .page-footer__title {
  margin-bottom: 3.4rem;
}
.page-footer__part--loacation .page-footer__link {
  margin-bottom: 3.2rem;
}
@media only screen and (max-width: 1279px) {
  .page-footer__part--loacation {
    width: 100%;
  }
}

.page-footer__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4.6rem;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 4rem;
  color: #FFFFFF;
}

.page-footer__link {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}
.page-footer__link:last-child {
  margin: 0;
}

.page-footer__icon {
  margin-right: 2rem;
}

.page-footer__image {
  position: relative;
  width: 25%;
  height: 0;
  padding-top: 25.8333333%;
}
.page-footer__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1279px) {
  .page-footer__image {
    width: 42.3728814%;
    padding-top: 43.7853107%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
