.about {
  padding: 6.25% 0 7.8125% 0;
  @include r(1279) {
    padding: 10.4166667% 0 13.0208333% 0;
  }
  @include r(767) {
    padding: 13.125% 0;
  }
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66.40625%;
  margin: 0 auto;
  @include r(1279) {
    width: 56.9010417%;
    flex-direction: column-reverse;
  }
  @include r(767) {
    width: 84.37500%  ;
  }
}
.about__image {
  position: relative;
  width: 35.2941176%;
  height: 0;
  padding-top: 48%;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  @include r(1279) {
    width: 68.6498856%;
    margin: 0 auto;
    padding-top: 93.3638444%;
  }

  @include r(767) {
    width: 96.2962963%;
    padding-top: 130.740741%;
  }
}
.about__content {
  width: 50.5882353%;
  @include r(1279) {
    width: 100%;
    order: 1;
    margin-bottom: 18.3066362%;
  }
}
.about__title {
  @include heading-h3;
  margin-bottom: 2.5rem;
  color: $color-dark-l;
  @include r(767) {
    text-align: center;
  }
}
.about__text {
  @include paragraph-l;
  color: $color-dark-xl;
  margin-bottom: 2.5rem;
  & + & {
    margin: 0;
  }
}