.logo__title {
  margin-bottom: 1rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: $color-primary;
}

.logo__sub-title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: $color-light-xl;
}