.main-menu__list {
  @include list-reset;
  display: flex;
  margin: 0 -1.7rem;
}

.main-menu__item {
  padding: 0 1.7rem;
}

.main-menu__link {
  display: block;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: $color-light-l;
  text-decoration: none;
  border-bottom: .3rem solid transparent;

  &:hover {
    color: $color-light-s;
  }

  &--active {
    border-color: $color-primary;
  }
}
