.pets {
  background-color: $color-light-l;
  padding: 6.25% 0 7.8125% 0;
  @include r(1279) {
    padding: 10.4166667% 0 13.0208333% 0;
  }
}
.pets__wrapper {
  @include wrapper;
  text-align: center;
}
.pets__title {
  @include heading-h3;
  text-align: center;
  margin-bottom: 6rem;
}
.pets__slider {
  margin-bottom: 6rem;
  @include r(767) {
    margin-bottom: 4.2rem;
  }
}
.pets__btn {
  margin: 0 auto;
}