.slider {
  width: 100%;
  position: relative;
}

.slider__wrapper {
  width: 108rem;
  margin: 0 auto;
  overflow: hidden;
}

.slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  margin: 0 4.5rem;
  padding: 3rem 3.5rem;
  background: $color-light-s;
  border-radius: .9rem;

  &:hover {
    background-color: $color-light-xl;
    cursor: pointer;
  }
}

.slider__image {
  margin-bottom: 3rem;
  font-size: 0;
}

.slider__title {
  margin-bottom: 3rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

.slider__nav-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  padding: 2.3rem 1.9rem;
  font-size: 0;
  background-color: transparent;
  border-radius: 50%;
  border: .2rem solid $color-primary;
  &:active,
  &:focus {
    outline: none;
  }
  &--next {
    left: auto;
    right: 0;
  }

  &:hover {
    background-color: $color-primary-l;
    border-color: $color-primary-l;
    cursor: pointer;
  }

  &--inactive {
    border-color: $color-dark-s;
    &:hover {
      border-color: $color-dark-s;
      background-color: transparent;
      cursor: auto;
    }
  }
}