
.slider {
  position: relative;
  width: 100%;
}
.slider__wrapper {
  position: relative;
  width: 82.5%;
  margin: 0 auto;
  overflow: hidden;
  @include r(1279) {
    width: 80.7291667%;
  }
  @include r(767) {
    max-width: 27rem;
    width: 90%;
  }
}
.slider__item {
  justify-content: center;
  position: relative;
  display: none;
  animation: 0.5s ease-in-out;
  .card {
    margin: 0 45px;
  }

  @include r(1279) {
    .card {
      margin: 0 20px;
    }
    & .card:nth-child(3) {
      display: none;
    }
  }

  @include r(767) {
    & .card:nth-child(2) {
      display: none;
    }
  }
}

.slider__item--active,
.slider__item--next {
  display: flex;
}

.slider__item--next {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.slider__nvaigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 1;
  @include r(767) {
    position: static;
    width: 68.1481481%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transform: translate(0);
  }
}
.slider__nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  background-color: $color-light-l;
  border: .2rem solid $color-primary;
  border-radius: 100px;
  svg {
    fill: $color-dark-3xl;
  }
  &:hover {
    background-color: $color-primary;
    cursor: pointer
  }
  &[disabled] {
    color: $color-dark-s;
    border-color: $color-dark-s;
    svg {
      fill: $color-dark-s;
    }

    &:hover {
      background-color: $color-light-l;
      cursor: default;
    }
  }
}


.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
