
.slider {
  position: relative;
}
.slider__wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  @include r(1279) {
    width: 80.7291667%;
  }
  @include r(767) {
    width: 90%;
  }
}
.slider__list {
  @include list-reset;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  z-index: 2;
  @include r(767) {
    width: 100%;
  }
}
.slider__item {
  padding: 0 4.16666667%;
  @include r(1279) {
    padding: 0 3.44827586%;
  }
  @include r(767) {
    padding: 0;
  }
}
.slider__nvaigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 1;
  @include r(767) {
    position: static;
    width: 68.1481481%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transform: translate(0);
  }
}
.slider__nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  background-color: $color-light-l;
  border: .2rem solid $color-primary;
  border-radius: 100px;
  svg {
    fill: $color-dark-3xl;
  }
  &:hover {
    background-color: $color-primary;
    cursor: pointer
  }
  &[disabled] {
    color: $color-dark-s;
    border-color: $color-dark-s;
    svg {
      fill: $color-dark-s;
    }

    &:hover {
      background-color: $color-light-l;
      cursor: default;
    }
  }
}