.start-screen {
  margin-top: -12rem;
  padding-top: 18rem;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start-screen__wrapper {
  @include wrapper;
  display: flex;
  justify-content: flex-start;
}

.start-screen__content {
  width: 46rem;
  margin-right: 4.2rem;
  padding-top: 12.3rem;
}

.start-screen__title {
  width: 31rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: $color-light-xl;
}

.start-screen__text {
  margin-bottom: 41px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: $color-dark-s;
}