$color-primary: #f1cdb3;
$color-light-xl: #ffffff;
$color-dark-s: #CDCDCD;
$color-light-l: #CDCDCD;
$color-light-s: #FAFAFA;
$color-dark-l: #545454;
$color-dark-xl: #292929;
$color-primary-light: #FDDCC4;
$color-primary-l: #F1CDB3;
$color-dark-m: #B2B2B2;
$color-dark-3xl: #292929;