* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.out {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}